<div class="col-lg-6">
  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon1">Column Name:</span>
    <input type="text" class="form-control" aria-describedby="sizing-addon1">
  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->

<div class="col-lg-6">
  <div class="input-group">
    <input type="text" class="form-control" aria-label="...">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Data Type <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><a href="#">Text</a></li>
        <li><a href="#">Number</a></li>
        <li><a href="#">Link</a></li>
        <li class="divider"></li>
        <li><a href="#">Preset Choices (Dropdown List)</a></li>
      </ul>
    </div>
  </div>
</div>