<% form_for [Column.new], :url => {:action => :create, :controller => :columns} do |f| %>
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon1">Column Heading:</span>
      <%= f.text_field :title, class: 'form-control', placeholder: "Heading goes here." %>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="...">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Data Type <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="#">Text</a></li>
          <li><a href="#">Number</a></li>
          <li><a href="#">Link</a></li>
          <li class="divider"></li>
          <li><a href="#">Preset Choices (Dropdown List)</a></li>
        </ul>
      </div>
    </div>
  </div>
<br>
<% end %>