<h1>Specsheets</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">All Specsheets</h4>
      <div class="input-group">
        <input class="form-control" placeholder="Search for a sheet..." type:"text">
        <div class="input-group-btn">
          <button class="btn btn-primary"><i class="glyphicon-search"></i></button>
        </div>
      </div>
    </div>

  </div>
    <table class="table">

<!-- TEMPORARY TABLES -->
<!--         <tr>
          <td><%= link_to "Laptops", sheets_show_path %></td>
          <td>3 items</td>
          <td>0 reviews</td>
        </tr>
        <tr>
          <td>Cameras</td>
          <td>75 items</td>
          <td>60 reviews</td>
        </tr>
        <tr>
          <td>Bacon</td>
          <td>21 items</td>
          <td>375 reviews</td>
        </tr> -->

<!-- WHAT I WACTUALLY WANT TO USE -->

      <% @sheets.each do |sheet| %>
        <tr>
          <td><%= link_to sheet.name, sheet %></td>
          <td><%= sheet.items.count %> items</td>
          <td><%= sheet.reviews.count %></td>
        </tr>
      <% end %>

    </table>