<h1>Specsheets</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">All Specsheets</h4>
      <div class="input-group">
        <input class="form-control" placeholder="Search for a sheet..." type:"text">
        <div class="input-group-btn">
          <button class="btn btn-primary"><i class="glyphicon-search"></i></button>
        </div>
      </div>
    </div>

  </div>
    <table class="table">
      <% @sheets.each do |sheet| %>
        <tr>
          <td><%= sheet.id %></td>
          <td><%= link_to [sheet.title], sheets_index_path %></td>
          <td>number of items</td>
          <td>number of reviews</td>
        </tr>
      <% end %>

    </table>