<h1>Create a New Specsheet</h1>
  <script type="text/javascript"></script>
  <%= form_for Sheet.new, :url => {:action => :create, :controller => :sheets} do |f| %>
    <%= f.text_field :title, class: 'form-control', placeholder: " Sheet Title" %>
    </br>
    <%= f.text_field :description, class: 'form-control', placeholder: "Sheet Description" %>
    </br>
    <div id="dynamicInput">
      <div class="row">
        <div class="col-xs-6">
          <input class="form-control" id="sheet_column_title" name="column[][title]" placeholder="Column Title" type="text">
        </div>
        <div class="col-xs-6">
          <input class="form-control" id="sheet_column_data_type" name="column[][type]" placeholder="Data Type (Numbers, Words, yes/no)" type="text">
        </div>
      </div>
    </div>
    </br>
    <input class="btn btn-default" type="button" value="Add Column" onClick="addInput('dynamicInput')">
    <%= f.submit "Save Specsheet!", class: 'btn btn-default' %>
  <% end %>
  </div>
</div>
